<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование товара [[${product.title}]] &ndash; Сельмаг</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center">Редактирование товара [[${product.title}]]</h1>

    <a data-th-href="@{/catalogue/products/list}">К списку товаров</a>

    <form data-th-action="@{/catalogue/products/{productId}/edit(productId=${product.id})}" method="post" class="row justify-content-center">

        <div class="col-7">

            <div data-th-if="${errors}">
                <h3>Допущены ошибки</h3>
                <ul>
                    <li data-th-each="error : ${errors}" data-th-text="${error}"></li>
                </ul>
            </div>

            <div class="mb-3">
                <label for="title">Название</label>
                <input data-th-value="${payload != null ? payload.title : product.title}" type="text" id="title" class="form-control" name="title">
            </div>

            <div class="mb-3">
                <label for="details">Описание</label>
                <textarea data-th-text="${payload != null ? payload.details : product.details}" id="details" class="form-control" name="details"></textarea>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>