<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список товаров &ndash; Сельмаг</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center">Список товаров</h1>

    <a data-th-href="@{/catalogue/products/create}">+ Создать товар</a>

    <div class="row justify-content-center">
        <div class="col-7">

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Товар</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="product : ${products}">
                    <td data-th-text="${product.id}"></td>
                    <td>
                        <a data-th-href="@{/catalogue/products/{productId}(productId=${product.id})}"
                           data-th-text="${product.title}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>